<h1 class="title">Karma</h1>
<h3> <%= link_to 'Help me', new_post_path %> </h3>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to post.title, post_path(post) %>
  <% end %>
<% else %>
  No help listed
<% end %>
