// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgba(0, 220, 200, 0.1);
  width: 1000px;
}
 h1.title {
  margin-left: 400px;
  margin-right: 400px;
} 
